version: "3.9"

services:
  postgres:
    image: postgres
    container_name: t3_genshin_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
