/* src/Pages/StatisticsPage.css */
.statistics-page {
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line */
}

.button-container button {
  margin: 5px 10px; /* Adjust margins for better spacing */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

.button-container button.active {
  background-color: #007bff;
  color: white;
}

.button-container button:hover {
  background-color: #007bff;
  color: white;
}

.mainstat-content-container {
  display: flex;
  justify-content: space-between;
}

.substat-content-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
}

.substat-chart-table-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.chart-container {
  flex: 1;
  margin-right: 20px;
}

.chart-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.pie-chart, .bar-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-chart canvas, .bar-chart canvas {
  max-width: 55vw; /* Adjust the size as needed */
  max-height: 55vh; /* Adjust the size as needed */
}

.table-container {
  flex: 1;
  margin-left: 20px;
}

.table-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th, .table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table-container th {
  background-color: #f2f2f2;
}

.table-container tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-container tr:hover {
  background-color: #f1f1f1;
}